@font-face {
    font-family: '04b_03';
    src: url('./fonts/04B_03.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: '04b_03', sans-serif;
  }
  