@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Loved+by+the+King&family=Quicksand:wght@400;600;700&family=Annie+Use+Your+Telescope&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

  ::-webkit-scrollbar{
    width: 0px;
    /* position: absolute;
    width:10px;
    background-color: transparent; */
  }
  /* ::-webkit-scrollbar-thumb{
    background-color: #eeeeee;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: #cccccc;
  } */

  .radial-mask {
    width: 100vw;
    height: 100vh;
    background-color: #000; /* Fallback background color */
    mask-image: radial-gradient(circle at var(--x, 50%) var(--y, 50%), #000, transparent 40%);
    -webkit-mask-image: radial-gradient(circle at var(--x, 50%) var(--y, 50%), #000, transparent 40%);
  }

  /* .circle-mask{
    -webkit-mask-image: radial-gradient(white, black);
    mask-image: radial-gradient(white, black);
  } */

  .hero-display-background{
    background: linear-gradient(transparent , rgba(255,255,255,0.2) 90%), repeating-linear-gradient(90deg, transparent, transparent 1px, rgba(255,255,255,0.2) 1px, rgba(255,255,255,0.2) 2px);
  }

  .font-king{ font-family: 'Loved By The King', cursive; }
  .font-DM{ font-family: 'DM sans', sans-serif; }
  .font-quicksand{ font-family: 'Quicksand', sans-serif; }
  .font-bebas{ font-family: 'Bebas Neue', cursive; }
  /* .font-annie{ font: 'Annie Use Your Telescope', bebas; } */

  .heroAnim{
    animation: stomp 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
  }

  /* .uppercard{
    clip-path: polygon(0% 0%,100% 0%, 100% 55%,99% 56%, 98% 56%, 2% 44%, 1% 43%, 0% 42%);
  } */
  @keyframes blink {
    50%{ @apply opacity-0 }
  }
  @keyframes appear {
    0%{ @apply opacity-0 }
    100%{ @apply opacity-100 }
  }
  @keyframes stomp {
    from {
      opacity: 0;
      transform: scale(4) translateY(0px);
    }
    to {
      opacity: 1;
      transform: scale(1) translateY(0px);
    }
  }

  @keyframes slide-in-expand {
    0% {
      @apply -translate-x-full
    }
    100%{
      @apply translate-x-0
    }
  }
  .slide-expand{
    animation: slide-in-expand 10s ease-in-out linear
  }
  /* @keyframes slideright {
    0%{ @apply -translate-x-full}
    100%{ @apply translate-x-0}
  }
  @keyframes expanddown {
    0%{ @apply h-0 overflow-x-hidden}
    100%{ @apply h-full}
  } */
}